html {
  background-color: #EBEBEB;
  background-image: radial-gradient(#E0E0E0, #EBEBEB, #DADADA);
  
  background-repeat: no-repeat;
  background-size: auto;
  min-width: 100%;
  min-height: 100%;
}

body {
  background-color: #EBEBEB;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: 400;
  line-height: 1em;
  scroll-behavior: smooth;
  font-family: arial, sans-serif;
}