/* Global Styles */
:root {
  --primary-color: #003699;
  --dark-color: #333333;
  --light-color: #f0f0f0;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
  scroll-behavior: smooth;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.width100 {
  width: 100%;
}

input,
select {
  margin: 0.1rem;
  padding: 0.2rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* Cards */
.card {
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 0.7rem 0;
}

/* List */
.list {
  margin: 0.5rem 0;
}

.list li {
  padding-bottom: 0.3rem;
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.px {
  padding: 0 0.5rem;
}
.px-1 {
  padding: 0 1rem;
}
.px-2 {
  padding: 0 2rem;
}
.px-3 {
  padding: 0 3rem;
}
.ptop {
  padding-top: 0.5rem;
}
.ptop-1 {
  padding-top: 1rem;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.mx {
  margin: 0 0.5rem;
}
.mx-1 {
  margin: 0 1rem;
}
.mx-2 {
  margin: 0 2rem;
}
.mx-3 {
  margin: 0 3rem;
}
.mtop {
  margin-top: 0.5rem;
}
.mtop-1 {
  margin-top: 1rem;
}
.mtop-2 {
  margin-top: 2rem;
}
.mbot {
  margin-bottom: 0.5rem;
}

/* Grid */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.grid-2-3 {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 2rem;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-link {
  background: none;
  padding: 0;
  margin: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
}

.badge {
  font-size: 0.8rem;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
  border-radius: 5px;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 850px;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 3rem;
  z-index: 1;
  width: 100%;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
  margin-bottom: 1rem;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--light-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

.center {
  align-self: center;
}

/* Sidebar */
.sidebar {
  float: right;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  padding: 0 1.5rem;
  flex-direction: column;
  z-index: 1;
  min-height: 100%;
  height: 100%;
  opacity: 0.9;
  margin-top: 0.5rem;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  width: 10rem;
}

.sidebar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.sidebar a:hover {
  color: var(--light-color);
}

.side-btn {
  align-self: flex-end;
  margin-right: -1rem;
  padding: 0.3rem 0.6rem;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  background-color: var(--dark-color);
  margin-top: auto;
}

.footer ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  max-width: 24rem;
  list-style: none;
}

.footer a {
  color: #fff;
  text-align: left;
  width: 6rem;
  text-decoration: none;
  margin: 0.5rem 0.75rem;
}

.footer a:hover {
  color: var(--light-color);
}

/* Box */
.box {
  min-height: 9rem;
  font-size: 80%;
}

.inner-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.items {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-height: 14rem;
  overflow: hidden;
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-width: thin;
  margin-top: -0.5rem;
}
.item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.4rem;
}
.item-text {
  display: flex;
  min-width: 3rem;
  width: 9rem;
  justify-content: left;
  padding: 0 0.5rem;
}
.item-input {
  display: flex;
  min-width: 3rem;
  width: 10rem;
  justify-content: left;
  padding: 0;
}
.accepted {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100%;
  min-width: 7rem;
  width: 8rem;
}
.bord-hori-green {
  border-top: solid 3px green;
  border-bottom: solid 3px green;
}
.bord-hori-red {
  border-top: solid 3px red;
  border-bottom: solid 3px red;
}
.bord-vert-green {
  border-left: solid 3px green;
  border-right: solid 3px green;
}

/* Trade Form */
.pre-trade {
  display: flex;
  justify-self: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 43em;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 50em;
}

.grow-1 {
  flex-grow: 1;
}
.grow-2 {
  flex-grow: 2;
}
.grow-3 {
  flex-grow: 3;
}
.address {
  max-width: 22rem;
}

.shadow {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.shadow-top {
  box-shadow: 0px -5px 5px -5px rgba(0, 0, 0, 0.5);
}
.shadow-bot {
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.5);
}
.shadow-bot-7 {
  box-shadow: 0px 7px 7px -5px rgba(0, 0, 0, 0.5);
}
.shadow-right {
  box-shadow: 5px 0px 5px -5px rgba(0, 0, 0, 0.5);
}
.shadow-left {
  box-shadow: -5px 0px 5px -5px rgba(0, 0, 0, 0.5);
}
.is-valid {
  border-color: #888888;
  border-width: 1px;
  border-style: solid;
}
.valid {
  border-left: solid 4px green;
}
.invalid {
  border-left: solid 4px red;
}
.grid-item {
  grid-column: auto;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar h1 {
    margin-bottom: 0.6rem;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .sidebar {
    display: none;
  }
}
